<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>


<h1>Zarejestruj sie!</h1>
<form th:action="@{/register}" method="post" th:object="${registerForm}">
    <input th:type="text" th:field="*{userName}" placeholder="Nazwa użytkownika..." th:errorClass="error">
    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Blad nazwy uzytkownika...</span>
    <br>
    <input th:type="text" th:field="*{email}" placeholder="Podaj e-mail..." th:errorClass="error">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Blad nazwy uzytkownika...</span>
    <br>
    <input th:type="password" th:field="*{password}" th:errorClass="error">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Blad nazwy uzytkownika...</span>
    <br>
    <input type="submit" th:value="Zarejestruj">
</form>

</body>
</html>